<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
  <div>
    <img alt="profile" width="250" height="220" [src]="profilePicture">

    <h2>{{ name }}</h2>

    <p>
      {{ age }}
      <br>
      {{ email }}
    </p>

    <br>

    <button>Update</button>
  </div>
</body>
</html>
<!-- Add the following bindings:
Bind the src attribute of an <img> element to user.profilePicture.
Bind the content of an <h2> element to user.name.
Bind the content of a <p> element to show the user’s age and email. -->

<!-- property binding).
Property Update: Add a button that updates the user name when clicked, showcasing Angular’s dynamic property binding. -->
